In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [46]:
county_data = pd.read_csv(os.path.realpath("./Data/us_county.csv"))
covid_county_data = pd.read_csv(os.path.realpath("./Data/covid_us_county.csv")).filter(items=["county","state_code","lat","long",
                                                                                                 "date","cases","deaths"])

In [37]:
#filter covid data on observations > 0
covid_county_data = covid_county_data[covid_county_data['cases'] > 0]
covid_county_data.head(5)

     county state_code        lat       long        date  cases  deaths
62  Autauga         AL  32.539527 -86.644082  2020-03-24      1     0.0
63  Autauga         AL  32.539527 -86.644082  2020-03-25      5     0.0
64  Autauga         AL  32.539527 -86.644082  2020-03-26      6     0.0
65  Autauga         AL  32.539527 -86.644082  2020-03-27      6     0.0
66  Autauga         AL  32.539527 -86.644082  2020-03-28      6     0.0

In [47]:
first_dates_by_county = covid_county_data.groupby(['county','state_code']).first().sort_values(by='date')
first_dates_by_county[0:10]

                            lat        long        date  cases  deaths
county    state_code
Abbeville SC          34.223334  -82.461707  2020-01-22      0     0.0
Osborne   KS          39.350344  -98.767538  2020-01-22      0     0.0
Osceola   FL          28.063122  -81.148829  2020-01-22      0     0.0
          IA          43.378243  -95.624228  2020-01-22      0     0.0
          MI          43.989921  -85.325668  2020-01-22      0     0.0
Oscoda    MI          44.681923  -84.129392  2020-01-22      0     0.0
Oswego    NY          43.427789  -76.146352  2020-01-22      0     0.0
Otero     CO          37.901449 -103.717338  2020-01-22      0     0.0
          NM          32.613484 -105.741760  2020-01-22      0     0.0
Otoe      NE          40.648436  -96.133741  2020-01-22      0     0.0